@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');
*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}
body{
    background-color: #82708B;
    min-height: 100vh;
    display: flex; flex-direction: column; align-items: center;
}
main{
    flex: 2;
    
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}

/*UI*/
#title{
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}
#title::first-letter, #title span{
    font-size: 50px;
}
#title:hover, footer *:hover{
    font-weight: bold;
    cursor: pointer;
}

.calculator{
    background-color: #D9D9D9;
    border-radius: 20px;
    height: 450px; width: 300px;
    margin-top: 20px;
    display: flex; flex-direction: column; align-items: center; padding: 15px;
}

.screen{
    background-color: #2D2B2B;
    height: 120px; width: 270px;
    border-radius: 15px;
    padding: 5px;
    font-size: 50px;
    display: flex; flex-direction: column; justify-content: end; align-items: end;
    font-weight: 300;
}
#mini-val{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.btn-row{
    display: flex; gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 5px 0;
}
.btn-row:first-of-type{
    padding-top: 15px;
}

.btn-row button{
    width: 57.5px; height: 50.5px;
    border: none;
    border-radius: 15px;
}
.btn-row button.btn-big{
    width: 125px;
}

button.control{
    background-color: #7B3B3B;
}
button.control:hover, button.control:focus{
    background-color: #a35050;
}
button.operation{
    background-color: #7B5D3B;
}
button.operation:hover, button.operation:focus{
    background-color: #a57d50;
}
button.number{
    background-color: #5F7053;
}
button.number:hover, button.number:focus{
    background-color: #89a179;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    bottom: 0;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

#info{
    position: absolute; top: 0; right: 0;
    margin: 10px;
}
#info:hover{
    cursor: pointer;
    filter: invert(1);
}

#info-txt{
    background-color: rgba(123, 59, 59, 0.8);
    position: absolute; top: 0; right: 0;
    width: 300px; padding: 10px;
    display: none;
}
#info-txt ul{
    margin-left: 18px;
}

table, th, td {
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
}

td{
    width: 150px; height: 25px;
    padding-left: 5px;
}